<div class="addMaintenanceVehicleWrap" id="addMaintenanceSupply-{{maintenanceNumber}}">
    <div class="inputBoxWrap">
        <label for="username">Select supply</label>
        <select id="addMaintenanceSupplySupplyIdSelect-{{maintenanceNumber}}">
            {{#each supplies}}
                <option value="{{this.id}}">{{this.displayName}}</option>
            {{/each}}
        </select>
    </div>

    <div class="inputBoxWrap">
        <label>Input supply name</label>
        <input type="string" id="addMaintenanceSupplySupplyName-{{maintenanceNumber}}">
    </div>

    <div class="inputBoxWrap">
        <label>Input quantity</label>
        <input type="number" id="addMaintenanceSupplyQuantity-{{maintenanceNumber}}">
    </div>

    <div class="inputBoxWrap">
        <label>Input price</label>
        <input type="number" id="addMaintenanceSupplyPrice-{{maintenanceNumber}}">
    </div>

    <div class="actionButton addMaintenanceSupplyDelete" data-number={{maintenanceNumber}}>Delete supply</div>
</div>